@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Add application styles & imports to this file! */
body {
   transform: scale(1.5);
   transform-origin: 0 0;
   background: white;
   font-family: 'Roboto', sans-serif;
   overflow: hidden;
}
